* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

#places {
  border: 1px solid rgb(117 117 117);
  border-radius: 1rem;
  padding: 0.4rem;
  max-height: 2rem;
  color: 1px solid rgb(117 117 117);
  background-color: white;
}

.hidden {
  visibility: hidden;
}

section.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;

  background-color: #202124;
}

form#form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

section.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100vh;
}

input#place {
  border: 1px solid rgb(117 117 117);
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
  max-height: 2rem;
}

label {

  color: white;
  border: none;
}

button {
  background-color: #dc5454;
  border: none;
  border-radius: 1rem;
  max-height: 2rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  width: 7rem;
}

button:hover {
  background-color: #b3b5b6;
}

section.weather div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    max-width: 90vw;
    width: 100%;
    height: 80%;
    padding: 2rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
    background-color: #c1c1c1;
}

.title {
  color: white;
}